rule family="ipv4" source address={{ vmnetwork }}/{{ VMPREFIX }} port port="8800" protocol="tcp" accept
rule family="ipv4" source address={{ vmnetwork }}/{{ VMPREFIX }} port port="8801" protocol="tcp" accept
rule family="ipv4" source address={{ vmnetwork }}/{{ VMPREFIX }} port port="8090" protocol="udp" accept
rule family="ipv4" source address={{ vmnetwork }}/{{ VMPREFIX }} port port="2161" protocol="udp" accept
rule family="ipv4" source address={{ vmnetwork }}/{{ VMPREFIX }} port port="2162" protocol="udp" accept
rule family="ipv4" source address={{ vmnetwork }}/{{ VMPREFIX }} port port="7216" protocol="udp" accept
rule family="ipv4" source address={{ vmnetwork }}/{{ VMPREFIX }} port port="20000-65535" protocol="udp" accept
rule family="ipv4" source address={{ ipcnetwork }}/{{ IPCPREFIX }} port port="8800" protocol="tcp" accept
rule family="ipv4" source address={{ ipcnetwork }}/{{ IPCPREFIX }} port port="8801" protocol="tcp" accept
rule family="ipv4" source address={{ ipcnetwork }}/{{ IPCPREFIX }} port port="8090" protocol="udp" accept
rule family="ipv4" source address={{ ipcnetwork }}/{{ IPCPREFIX }} port port="2161" protocol="udp" accept
rule family="ipv4" source address={{ ipcnetwork }}/{{ IPCPREFIX }} port port="2162" protocol="udp" accept
rule family="ipv4" source address={{ ipcnetwork }}/{{ IPCPREFIX }} port port="7216" protocol="udp" accept
rule family="ipv4" source address={{ ipcnetwork }}/{{ IPCPREFIX }} port port="20000-65535" protocol="udp" accept
rule family="ipv4" source address={{ vmnetwork }}/{{ VMPREFIX }} port port="20001" protocol="udp" accept
rule family="ipv4" source address={{ vmnetwork }}/{{ VMPREFIX }} port port="9119" protocol="udp" accept
rule family="ipv4" source address={{ vmnetwork }}/{{ VMPREFIX }} port port="3306" protocol="tcp" accept
rule family="ipv4" source address={{ ipcnetwork }}/{{ IPCPREFIX }} port port="20001" protocol="udp" accept
rule family="ipv4" source address={{ ipcnetwork }}/{{ IPCPREFIX }} port port="9119" protocol="udp" accept
rule family="ipv4" source address={{ ipcnetwork }}/{{ IPCPREFIX }} port port="3306" protocol="tcp" accept
