delete from package_target_ne_filter;

{% for item in NE.split(',') %}
{%   if loop.index != 0 %}
{%     set type = item|trim() %}
{%     for it in result.stdout_lines %}
{%       if type == it.split('\t')[1] %}
{%         set id = it.split('\t')[0]|trim() %}
{%         set prefix = type[:-1] %}
{%         if not 'DB' in type %}
{%           if 'EMS' in type %}
{%             set prefix = 'EMS' %}
insert ignore into package_target_ne_filter (prefix, ne_id) values ('{{ prefix }}', {{ id }});
{%           else %}
insert ignore into package_target_ne_filter (prefix, ne_id) values ('{{ prefix }}', {{ id }});
{%           endif %}
{%         endif %}
{%       endif %}
{%     endfor %}
{%   endif %}
{% endfor %}

delete from topology;

insert ignore into topology (id, diagram) values ('default', '{\"links\": [], \"nodes\": [], \"scale\": 5, \"dummys\": [], \"groups\": [{\"x\":10, \"y\": 10, \"fold\": false, \"nodes\": [], \"groupId\": 1, \"minimize\": false}, {\"x\": 86, \"y\": 232, \"fold\": false, \"nodes\": [1, 2], \"groupId\": 2, \"minimize\": false}, {\"x\": 84, \"y\": 430, \"fold\": false, \"nodes\": [3, 4], \"groupId\": 3, \"minimize\": false}, {\"x\": 85, \"y\": 51, \"fold\": false, \"nodes\": [5, 6], \"groupId\": 4, \"minimize\": false}, {\"x\": 409, \"y\": 237, \"fold\": false, \"nodes\": [11, 14], \"groupId\": 7, \"minimize\": false}, {\"x\": 413, \"y\": 434, \"fold\": false, \"nodes\": [9, 10], \"groupId\": 6, \"minimize\": false}]}');

delete from trace_target_process;

insert ignore into trace_target_process (name, type) values
{% for item in tracepname.split(',') %}
{%   if loop.index != 0 %}
{%     set name = item|trim() %}
{%     if loop.last %}
        ('{{ name }}', 0);
{%     else %}
        ('{{ name }}', 0),
{%     endif %}
{%   endif %}
{% endfor %}
