# .bashrc
export PATH=/usr/local/cuda/bin:${PATH}
export LD_LIBRARY_PATH=/usr/local/cuda/lib64:${LD_LIBRARY_PATH}

# Source global definitions
if [ -f /etc/bashrc ]; then
        . /etc/bashrc
fi

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]
then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions

export CUDA_HOME=/usr/local/cuda
export PATH=$PATH:/usr/local/cuda-11.8/bin
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/cuda-11.8/lib64
export LD_LIBRARY_PATH={{ apps_dir }}/arteva/ai_engine/ai/lib/python3.9/site-packages/tensorrt
export CUDARDIR=/usr/local/cuda-11.8

#export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/apps/TensorRT-8.5.2.2/lib
#export LD_LIBRARY_PATH=/usr/local/cuda-11.8/lib64:/home/dmeta/TensorRT-8.5.2.2/lib:$LD_LIBRARY_PATH
#/apps/anaconda3/envs/ai/lib/python3.9/site-packages/tensorrt

# ulimit config
ulimit -u 65535
ulimit -n 65535
